[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/thorium-mjoklplbddabcmpepnokjaffbmgbkkgg-Default.desktop]
row=1
col=1

[/home/aruncs/Desktop/thorium-odkeocipjlfojlhlofckdkoopjeedaek-Default.desktop]
row=0
col=1

[/home/aruncs/Desktop/thorium-kihcfgelmnhagcadjfmnpkifihfmgail-Default.desktop]
row=5
col=0

[/home/aruncs/Desktop/BlinkESP.ino]
row=3
col=0

[/home/aruncs/Desktop/Btech]
row=2
col=0

[/home/aruncs/Desktop/Projects]
row=4
col=0

[/home/aruncs/Desktop/thorium-loemicfnldhldlopfpffnepjeckjedmm-Default.desktop]
row=2
col=1

[/home/aruncs/Desktop/Python_Snake_Game]
row=0
col=0

[/home/aruncs/Desktop/thorium-lopmgeplfanfophhaiimmngjgmapbpog-Default.desktop]
row=3
col=1

[/home/aruncs/Desktop/thorium-lgnggepjiihbfdbedefdhcffnmhcahbm-Default.desktop]
row=1
col=0

