[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Videos]
row=5
col=0

[/home/aruncs/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=1
col=0

[/home/aruncs/Desktop/Arduino]
row=0
col=0

[/home/aruncs/Desktop/brave-oblkflmojjfinnpcbhdfaefkdoipbijh-Default.desktop]
row=2
col=0

[/home/aruncs/Desktop/brave-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=3
col=0

