[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Btech]
row=0
col=0

[/home/aruncs/Desktop/BlinkESP.ino]
row=0
col=0

[/home/aruncs/Desktop/thorium-lgnggepjiihbfdbedefdhcffnmhcahbm-Default.desktop]
row=0
col=0

[/home/aruncs/Desktop/Python_Snake_Game]
row=0
col=0

[/home/aruncs/Desktop/Projects]
row=0
col=0

[/home/aruncs/Desktop/thorium-kihcfgelmnhagcadjfmnpkifihfmgail-Default.desktop]
row=0
col=0

