[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Obsidian Notes]
row=1
col=0

[/home/aruncs/Desktop/Projects]
row=0
col=0

[/home/aruncs/Desktop/2004.13239.pdf]
row=5
col=0

[/home/aruncs/Desktop/Books]
row=3
col=0

[/home/aruncs/Desktop/BTECH]
row=2
col=0

[/home/aruncs/Desktop/xfce4-terminal-emulator.desktop]
row=4
col=0

[Lenovo TB 7304F]
row=6
col=0

