[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/kk]
row=3
col=0

[/home/aruncs/Desktop/Videos]
row=5
col=0

[/home/aruncs/Desktop/Arduino]
row=0
col=0

[iPhone]
row=2
col=0

[00008020-00061D290CE1002E]
row=1
col=0

