[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Obsidian Notes]
row=7
col=0

[/home/aruncs/Desktop/Books]
row=8
col=0

[/home/aruncs/Desktop/BTECH]
row=1
col=1

[/home/aruncs/Desktop/Projects]
row=0
col=1

[/home/aruncs/Desktop/BtechEC]
row=2
col=1

[/home/aruncs/Desktop/Ping]
row=3
col=1

[/home/aruncs/Desktop/Blowfish.mjs]
row=6
col=0

