[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/BTECH]
row=3
col=0

[/home/aruncs/Desktop/Python_Snake_Game]
row=1
col=0

[/home/aruncs/Desktop/Projects]
row=0
col=0

[Lenovo TB 7304F]
row=2
col=0

