[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Blowfish.mjs]
row=6
col=0

[/home/aruncs/Desktop/Ping]
row=4
col=0

[/home/aruncs/Desktop/Marketing Strategy_20240416_122924_0000.pdf]
row=1
col=1

[/home/aruncs/Desktop/Green Minimalist Aesthetic Project Proposal Presentation_20240416_104939_00002.pdf]
row=2
col=1

[/home/aruncs/Desktop/BtechEC]
row=7
col=0

[/home/aruncs/Desktop/Obsidian Notes]
row=1
col=0

[/home/aruncs/Desktop/BATCH_13.pdf]
row=5
col=1

[/home/aruncs/Desktop/2004.13239.pdf]
row=5
col=0

[/home/aruncs/Desktop/Projects]
row=0
col=0

[/home/aruncs/Desktop/Books]
row=3
col=0

[/home/aruncs/Desktop/BTECH]
row=2
col=0

[/home/aruncs/Desktop/Corporate Presentation_20240415_213948_0000.pdf]
row=0
col=1

[/home/aruncs/Desktop/MINIPROJECT.pdf]
row=3
col=1

[/home/aruncs/Desktop/Green Minimalist Aesthetic Project Proposal Presentation_20240416_104939_0000.pdf]
row=4
col=1

[/home/aruncs/Desktop/DOC-20240416-WA0004._20240416_131150_0000.pdf]
row=2
col=3

