[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Haking]
row=8
col=0

[/home/aruncs/Desktop/brave-jckaldkomadaenmmgladeopgmfbahfjm-Default.desktop]
row=4
col=1

[/home/aruncs/Desktop/Videos]
row=6
col=0

[/home/aruncs/Desktop/Plank Theme]
row=2
col=0

[/home/aruncs/Desktop/brave-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=0
col=0

[/home/aruncs/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=4
col=0

[/home/aruncs/Desktop/Coding]
row=5
col=0

[/home/aruncs/Desktop/brave-digbmfmanablifepehkjcdhepfbcmjae-Default.desktop]
row=3
col=1

[/home/aruncs/Desktop/Scans]
row=3
col=0

[/home/aruncs/Desktop/brave-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=1
col=1

[/home/aruncs/Desktop/BTECH]
row=1
col=0

[/home/aruncs/Desktop/Akash]
row=2
col=1

[/home/aruncs/Desktop/Music]
row=0
col=1

[Lenovo TB 7304F]
row=5
col=1

[/home/aruncs]
row=7
col=0

