[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Alacritty.desktop]
row=0
col=0

[/home/aruncs/Desktop/brave-jddlclgbbilebllfndnfeejafnmhbjbe-Default.desktop]
row=1
col=0

