[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/thorium-akpamiohjfcnimfljfndmaldlcfphjmp-Default.desktop]
row=4
col=0

[/home/aruncs/Desktop/thorium-jnpecgipniidlgicjocehkhajgdnjekh-Default.desktop]
row=5
col=0

[/home/aruncs/Desktop/thorium-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=3
col=0

[/home/aruncs/Desktop/BTECH]
row=2
col=0

[/home/aruncs/Desktop/Python_Snake_Game]
row=1
col=0

[/home/aruncs/Desktop/Projects]
row=0
col=0

[/home/aruncs/Desktop/thorium-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=6
col=0

