[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/aruncs/Desktop/Videos]
row=6
col=0

[/home/aruncs/Desktop/Music]
row=7
col=0

[/home/aruncs/Desktop/Hacking]
row=2
col=0

[/home/aruncs/Desktop/BTECH]
row=4
col=0

[/home/aruncs/Desktop/Coding]
row=3
col=0

[/home/aruncs/Desktop/Research]
row=1
col=0

[/home/aruncs/Desktop/Books]
row=5
col=0

[Lenovo TB 7304F]
row=8
col=0

[/home/aruncs]
row=0
col=0

